

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

#main-heading{
  color: rgb(94,201,241)
}

ul {
  list-style: none;
}

.avatar-img {
  width: 200px;

}
